@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.animalCard {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: rgb(245, 240, 238);
  margin: 15px;
}
.animalCard img {
  width: 100%;
}
.home {
  padding: 4rem;
  margin: 1rem;
}
.about {
  padding: 4rem;
  margin: 1rem;
}
.navbar nav ul {
  list-style-type: none;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  margin: 1rem;
  background-color: azure;
}
h1 {
  font-family: "Merriweather", serif;
  color: crimson;
  font-size: 3rem;
  align-content: center;
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
